{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "printWidth": 100,
        "singleQuote": true
      }
    ],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "no-plusplus": 0
  }
}